<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ soda?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="soda" [fullscreen]="true">
  <ion-card>
    <img [src]="soda.image" alt="{{ soda.name }} Image" />
    <ion-card-header>
      <ion-card-title>{{ soda.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ soda.description }}
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Caffeine</ion-label>
      <ion-chip color="primary">{{ soda.caffeine }} mg</ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Calories</ion-label>
      <ion-chip color="secondary">{{ soda.calories }}</ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Size</ion-label>
      <ion-chip color="tertiary">{{ soda.size }} oz</ion-chip>
    </ion-item>
  </ion-list>
</ion-content>


